
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}


/* Sidebar  */
#SideBar{
  border-top: .5px solid white;
   position: fixed;
   width: 200px;
   height: 100%;
   margin-top:60px;
   background-color:#4597e4;
   padding: 50px 10px;
   transition: all 500ms linear;
   left:-250px;
  border-bottom: 1px solid rgba(100,100,100,0.3);
}
#SideBar.active{
    left:0px;
}
#SideBar ul li{
list-style: none;
}

.NavigationBar{
    box-sizing: border-box;
    float:left;
    display:block;
    height: 60px;
    width:100%;
   background-color:#4597e4   ;
}
.NavigationBar>div{
    display: grid;
    grid-auto-rows: 10% 90%;
}
.ToggleButton{
margin-top: 12px;
height: 35px;
width:35px;
margin-left:15px;
border-radius: 5px; 
}

/*App Page Content */
.PageContent{
    position: fixed;
   width: 80%;
   height: 20%;
   margin-left:250px;
   margin-top:70px; 
  
   border-radius: 5px;
}


/* NavigationBar Name*/
.NaviName{
    position: absolute;
    margin: 0px 10px 0 840px;
      color: cadetblue;
      padding-right: 15px;
    
}

.item1 { grid-area: header; }


.grid-container {
  display: grid;
  grid-template-areas:'header header header header header header';
  grid-gap: 10px;
  background-color: rgb(83, 209, 223);
  padding: 0px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align:left;
  padding: 20px 0;
  font-size: 30px;
  
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /* margin-top: 10px */
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(69, 151, 228);
    color: white;
}
.title{
    color: midnightblue;
    font-size: 26px;
  }
  a:link,a:visited{
    background-color:#4597e4; 
    padding:   8px 10px;
    text-decoration: none;
    color: white;
    display: inline-block;
 }
  
 .containerform{
 margin: 0 0 0 400px;
 border:1px solid black;
 width:250px;
 height:420px;
 background-color:lightskyblue;
 
 }
.forms{
  position:absolute;
  display: block;
  padding-top: 10px;
  padding-left: 15px;
}
  .Ref {
    background-color:  rgb(69, 151, 228);
    color: white;
    padding:   8px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .header-container {
    display: grid;
    grid-template-columns: auto 110px;
  
    grid-auto-columns: 80% 20%;
  
    background-color: rgb(195, 206, 214);
    padding: 10px;
  }
  .dropdown{

    color: #4982dd;
    margin-left: 90%;

  }
  .dropdown-menu >li>a{

    color: white;

  }